
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-family: 'Poppins';
    font-size: 1rem;
}

body{
    block-size: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

.container{
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    align-items: start;
    gap: 18px;
}

.splitter{
    block-size: 80px;
    inline-size: 1px;
    background: rgb(170, 170, 170);
}

.stock-count__cntnr{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 18px;
}

.stock-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: gray; */
    gap: 10px;
    color: rgb(146, 146, 146);
}

.stock-count span{
    color: black;
    font-weight: 500;
}

.stock-level__cntnr{
    background: rgb(233, 229, 229);
    inline-size: 69px;
    block-size: 24px;
    border-radius: 6px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.stock-level__bar{
    block-size: 6px;
    inline-size: 100%;
    background: red;
}

.product__name-profit{
    /* background: bisque; */
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.product-name__cntnr{
    display: flex;
    flex-direction: column;
    gap: 2px;
    /* background: greenyellow; */
}

.product-name{
    font-weight: 500;
}

.product-id{
    color: rgb(146, 146, 146);
    font-size: 14px;
}

.product-profit{
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
}

.bull-icon{
    block-size: 18px;
    inline-size: 18px;
    background: #DDFFDA;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 3px;
}

.bull-icon svg{
    fill: #00D873;
}

.product-profit span{
    color: #00D873;
}